{% extends 'base.html' %}

{% block content %}
    <div id="post-div">
        {% if post %}
            <div class="well">
            {% if post.is_embeddable %}
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="{{post.link}}"></iframe>
                </div>
            {% else %}
                <a href="{{ post.link }}">{{post.link}}</a>
            {% endif %}
            </div>
            {% if post.comments %}
                <div class="well">
                    {{ post.comments }}
                </div>
            {% endif %}
        {% else %}
            <p class="well">Sorry, you've seen everything!</p>
        {% endif %}
    </div>
    <div id="reloader">
        <a href="/" role="button" class="btn btn-lg btn-danger">Again!</a>
    </div>
{% endblock %}
